# Ambiente virtual
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Testes
.pytest_cache/
.coverage
htmlcov/

# FastAPI / Uvicorn
*.log

# Variáveis de ambiente
.env

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db